/* GENERAL */
html {
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main,
main * {
  box-sizing: border-box;
} 
main {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100vw;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background: var(--soft, #e1ecd5);
}

p {
  color: var(--texto, #0a0603);
  text-align: center;
  font-size: 16px;
}

a {
  color: var(--texto, #0a0603);
  text-decoration: none;
  outline: none;
  margin-bottom: 5px;
  text-align: center;
}

/* Clases ! */
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}

.title {
  color: var(--marron, #442d1b);
  font-size: 24px;
  letter-spacing: -0.02em;
  font-weight: 700;
  text-align: center;
}

.accent {
  color: var(--marron, #442d1b);
  font-family: "Inter-Italic", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

/* Cursor */
#move {
  background: radial-gradient(circle 100px, #b5d296, #e1ecd5);
  height: 500px;
  aspect-ratio: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 0;
}

/* Top menu */
.menu {
  padding: 19px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  position: fixed;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(10px);
  width: 100%;
}

.avrojo {
  color: var(--marron, #442d1b);
  text-align: center;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: relative;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 16px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}

/* Hero */
.presentacion {
  padding: 52px 115px 52px 115px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 90vh;
  position: relative;
}

.nombre {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 412px;
  height: 125px;
  position: relative;
}

.alicia-valera {
  text-align: center;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -0.03em;
  font-weight: 700;
  position: relative;
  background-color: #9f4c03;
  color: transparent;
  text-shadow: 0px 2px 2px var(--pop, #e6730f);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

/* Sobre mí */
#sobre-mi {
  padding: 200px 200px 100px 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  flex-wrap: wrap;
}

.descripcion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  text-align: center;
}

.lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  height: 198px;
  max-width: 80vw;
  position: relative;
}

.cosas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cosas li{
  list-style: none;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 0.5em 1em;
  color: #e3fdee;
  margin: 5px;
}

.lenguaje{
background-color: rgba(0, 141, 52, 0.7);
}

.tecnologias{
background-color: rgba(42, 96, 65, 0.7);
}

.aptitud{
background-color: rgba(79, 135, 85, 0.7);
}
.cv {
  color: var(--pop, #e6730f);
  font-weight: 750;
}

/* proyectos! */
#proyectos {
  padding: 150px 200px 100px 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
}

.pestanas{
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  max-width: 60vw;
}

.tab {
  width: 30vw;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #f7a257;
}

.tab button.active {
  background-color: var(--pop, #e6730f);
}

.tabcontent {
  float: left;
  padding: 20px;
  width: 60vw;
  border-left: none;
}

.img-proyectos{
  max-width: 30vw;
  box-shadow: 0 0 30px var(--pop, #e6730f);
  margin: 30px;
}

/* Contacto */
#contacto {
  padding: 150px 200px 100px 200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin: auto;
  text-align: center;
}

.correo {
  color: var(--pop, #e6730f);
}

#contacto form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align:left;
  max-width: 600px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--marron, #442d1b);
}

.leches{
  padding: 10px;
  border: 1px solid var(--marron, #442d1b);
  width: 500px;
  border-radius: 5px;
  background-color:  #f7ffee;
}

#contacto textarea{
  height: 200px;
  resize:none;
}

.leches:focus{
  box-shadow: 0 0 5px var(--pop, #e6730f);
  border: 1px solid var(--pop, #e6730f);
  outline: none;
}

#contacto button{
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #8d4200;
  color: rgb(252, 245, 245);
  font-weight: 600;
  cursor: pointer;
}

#contacto button:hover{
  /* background-color: var(--marron, #442d1b); */
  background-color: var(--pop, #f78929);
  transition: background-color 0.3s ease;
}


/*footer*/
.footer {
  background: var(--marron, #442d1b);
  padding: 40px 45px 30px 45px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.footer-text {
  color: var(--soft, #e1ecd5);
  position: relative;
  width: 300px;
}