:root {
  /* Colors */
  --texto: #0a0603;
  --pop: #e6730f;
  --soft: #e1ecd5;
  --marron: #442d1b;
  --claro: #decdf5;

  /* Fonts */
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
